Plug 'tpope/vim-commentary'

set NERDTree

set number
set relativenumber
set splitright
set splitbelow
set ignorecase
set smartcase
set incsearch
set clipboard+=unnamed
set visualbell

let mapleader = " "

nnoremap <leader>f :action GotoFile<CR>
" Remap Iterate Switcher Forward -> <C-j>, Backward -> <C-k>. Unmap show documentation
" Or get used to using <C-n> and <C-p>
nnoremap <leader>b :action Switcher<CR>
nnoremap <leader>/ :action FindInPath<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>

nnoremap <leader>n :NERDTreeFocus<CR>

nnoremap <M-h> :action PreviousTab<CR>
nnoremap <M-l> :action NextTab<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gtd :action GotoTypeDeclaration<CR>
nnoremap gr :action FindUsages<CR>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

nnoremap <leader>de :action ActivateProblemsViewToolWindow<CR>
nnoremap <leader>DE :action ActivateProblemsViewToolWindow<CR>

nnoremap <leader>e :action ShowErrorDescription<CR>

" Convenient navigation mappings for insert mode
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-e> <End>
inoremap <C-a> <C-o>^
inoremap <C-d> <Del>

" Signature help
inoremap <C-s> <C-o>:action ParameterInfo<CR>

command! BufDeleteOthers action CloseAllEditorsButActive
command! BufDeleteAll action CloseAllEditors
cnoreabbrev bdo BufDeleteOthers
cnoreabbrev bda BufDeleteAll

command! CopyFilePath action CopyPathWithLineNumber
cnoreabbrev cpfp CopyFilePath

command! GithubOpen action Github.Open.In.Browser
cnoreabbrev gho GithubOpen
